/* First FontFamily @... */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
}

/* HERE CHANGE CHARACTERISTICS FOR OWN PROJECT*/
body {
  display: flex;
  overflow: auto;
  flex-direction: column;
  min-width: 32rem;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3;
  font-family: "Muller", sans-serif;
  background: beige;
  color: var(--black);
}

h1 {
  margin: 0;
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid gray;
  padding-bottom: 1rem;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 56.8rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.accordion__item {
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid gray;
  padding-bottom: 1rem;
}

.accordion__input {
  display: none;
}

.accordion__plus {
  display: inline-block;
  background-image: url(../img/svgPlus.svg);
  width: 2.5rem;
  height: 2.5rem;
  background-size: cover;
}

.accordion__title {
  display: flex;
  justify-content: space-between;
}

.accordion__img {
  width: 80%;
}

.content {
  text-align: center;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.accordion__text {
  color: blue;
}

.accordion__input:checked+.accordion__label .accordion__text {
  color: black;
}


.accordion__plus {
  transition: opacity .3s ease-in-out;
}


.accordion__input:active+.accordion__label .accordion__text {
  color: blue;
}

.accordion__input:active+.accordion__label .accordion__plus {
  background-image: url(../img/bluePlus.png);
}

.accordion__input:active+.accordion__label {
  opacity: 0.5;
}

.accordion__input:checked+.accordion__label .content {
  overflow: visible;
  max-height: 100%;
  opacity: 1;
}

.accordion__input:checked+.accordion__label .accordion__plus {
  transform: rotate(45deg);
  transition: all .3s ease-in-out;
}


@media (min-width: 568px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  .container {
    max-width: 82rem;
    padding: 0 6rem;
  }

  .accordion__img {
    width: 60%;
    height: 35vh;
  }

}

@media (min-width:1180px) {
  body {
    font-size: 3rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  .container {
    max-width: 192rem;
    padding: 0 40rem;
  }

  .accordion__plus {
    opacity: 0;
  }

  .accordion__label {
    cursor: pointer;
  }

  .accordion__img {
    width: 43%;
    height: 43vh;
  }

  .accordion__item:hover>.accordion__label .content {
    overflow: visible;
    max-height: 100%;
    opacity: 1;
  }

  .accordion__item:hover>.accordion__label .accordion__plus {
    transform: rotate(45deg);
    transition: all .3s ease-in-out;
  }

  .accordion:hover .accordion__text {
    color: black;
  }

  .accordion:hover .accordion__plus {
    opacity: 1;
  }

}